POSTGRES_DB=geovisor
POSTGRES_USER=geovisor
POSTGRES_PASSWORD=geovisor
POSTGRES_HOST=postgis
POSTGRES_PORT=5432
POSTGRES_SCHEMA=gis
POSTGRES_TABLE=land_cover

GEOSERVER_ADMIN_USER=admin
GEOSERVER_ADMIN_PASSWORD=geoserver
GEOSERVER_URL=http://geoserver:8080/geoserver
GEOSERVER_WORKSPACE=clc
GEOSERVER_DATASTORE=postgis
GEOSERVER_LAYER=land_cover
GEOSERVER_STYLE=CLC_2018

API_HOST=0.0.0.0
API_PORT=8000
APP_ENV=local

DATA_GPKG_PATH=/data/sample/CLC_2018.gpkg
DATA_GPKG_LAYER=clc_2018_pereira
DATA_SRID=9377
